<div
  class="bg-gray-800 rounded-lg shadow-md overflow-hidden cursor-pointer hover:scale-105 transition"
>
  <img
    [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
    alt="Movie poster"
    class="w-full h-72 object-cover"
    (error)="onImgError($event)"
  />
  <div class="p-4">
    <h2 class="text-lg font-bold text-white mb-2">{{ movie.title }}</h2>
    <div class="flex flex-row-reverse sm:items-center justify-between">
      <p class="text-gray-400">{{ movie.release_date | date : "yyyy" }}</p>
      <div class="flex items-center">
        <span class="text-yellow-400 font-semibold"
          >★ {{ movie.vote_average | number : "1.2-2" }}</span
        >
      </div>
    </div>
  </div>
</div>
